body{
	margin: 0;
	padding: 0;
	background: #BFE2D0;
	box-sizing: border-box;
	font-size: 26px;
}


.culcul{
	text-align: center;
	padding: 100px;
}
form{
	display: block;
	margin: 0 auto;
	max-width: 500px;
	padding: 25px;
	background-color: #CFCFCF;
	border: 2px solid #9D9D9D;
	border-radius: 4px;
}

input{
	padding: 20px;
	width: 455px;
	border: 2px solid #686868;
	border-radius: 4px;
	font-size: 20px;
	outline: none;
	margin-bottom: 30px;
}
.disp{
	display: flex;
	justify-content: space-around;
}
.column{
	display: flex;
	flex-direction: column;
}
.symbol{
	padding: 25px;
	background-color:#2A2A2A ;
	margin: 25px 0;
	border-radius: 10px;
	color: white;
	cursor: pointer;
}

.equally{
	background-color: gray;
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 0;
}
.c{
	background-color: red;
}
.gray{
	background-color: gray;
}
