*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	body {
		padding: 30px;
		text-align: center;
		font-size: 18px;
	}
a{
 text-decoration: none;
 color: lightskyblue;
}

ul, li{
	list-style: none;
}
.tabs{
	max-width: 1200px;
	margin: 0 auto;
}
ul{
	display: flex;
	justify-content: space-between;
	padding: 50px;
}
.tab-btn{
	padding: 20px;
	background: lightblue;
	border-radius: 5px;
	cursor: pointer;
}
.tabs .active{
	display: block;
}
ul .active{
	background-color: lightgreen;
}
.tab{
	display: none;
}

.first-link, .second-link{
	font-size: 40px;
	font-weight: 800;
	margin-top: 50px;
}